body{
	margin:0;
	padding: 0;
}
ul{
	background-color: black;
	padding: 0;
	height: 20px;
	overflow: hidden;
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	list-style-type: none;
}
ul li{
	float: left;
}
ul li a{
	text-decoration: none;
	color: red
	font-weight:bold;
	font-size: 26px;
}
